@font-face {
    font-family: Baskerville;
    src: url("../fonts/LibreBaskerville-Regular.ttf")
}
@font-face {
    font-family: HamletOrNot;
    src: url("../fonts/hamletornot-font/Hamletornot-K7y7.ttf");
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    /* background-image: url("../images/tap1.png"); */
    background: url("../images/tap1.png") fixed;
    background-repeat: repeat;
    font-family: Baskerville, Helvetica, sans-serif;
}

.topdiv {
   display: flex;
   flex-direction: column;
   align-content: center;
   margin: auto;
   width: 70%;
   background-color: #ebd5b3;

   /* lighter shadow box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75); */
   box-shadow: 0px 2px 16px 2px black;
   animation: fadein 0.5s;
}

.headerdiv {
    padding: 1em;
}

.headerdiv header h1 {
    text-align: center;
}

.bodydiv {
    padding-right: 1.5em;
    padding-left: 1.5em;
    min-height: 100vh;
}

h1, h2 {
    font-family: HamletOrNot;
}

p, ul li {
    font-size: 12pt;
    line-height: 18pt;
}

ul li {
   margin-bottom: 6pt;
}

@media screen and (max-width: 480px) {
    .topdiv {
        width: 90%;
    }
}